<%# <h1>Blogs#index</h1> 
<p>Find me in app/views/blogs/index.html.erb</p> %>

<%#　erbファイルのコメントのつけ方　%>
<%#→コメント開始　コメント終了← %>

<p><%= notice %></p>
<h2>ブログ一覧</h2>

<% @blogs.each do |blog| %>
 <p>タイトル:<%=blog.title %></p>
 <p>本文:<%=blog.content %></p>
 <%# <%=link_to "ブログを編集する", edit_blog_path(blog.id),data: {confirm: '本当に編集していいですか？'} %>
 <%= link_to "ブログを編集する", edit_blog_path(blog.id) %>
 <%=link_to "ブログを削除する", blog_path(blog), method: :delete,　data: { confirm: '本当に削除していいですか？' } %>
<% end %>

<%=link_to "ブログを作成する", new_blog_path %>